<button (click)="toggle()"
        class="p-2 rounded-lg bg-gray-100 flex items-center justify-center">
  <ui-icon icon="notification"></ui-icon>

  <span *ngIf="(unreadNotificationsCount$ | async) as unreadNotificationsCount"
        @dropdownAnimation
        class="font-mono rounded-full h-5 w-5 text-xs flex justify-center items-center bg-green-600 text-white absolute -top-1.5 -right-1.5">
      {{unreadNotificationsCount > 99 ? 99 : unreadNotificationsCount}}
  </span>

</button>


<ul *ngIf="isDropdownVisible"
    @dropdownAnimation
    class="absolute bg-white shadow-md border border-gray-200 overflow-y-auto rounded-lg top-full mt-2 right-0 w-72">
  <li>
    <a class="flex items-center px-4 py-2 hover:bg-gray-50 border-b border-gray-100 duration-300 transition-colors rounded-lg"
       href="">

      No new notifications
    </a>
  </li>
</ul>
