<label [class.shadow]="isSearchInputExtended"
       class="flex items-center py-2 pl-2 pr-4 rounded-lg bg-gray-100 focus-within:shadow focus-within:focus-visible:ring-2 focus-within:focus-visible:ring-black relative">

  <ui-icon class="text-gray-500"
           icon="search">
  </ui-icon>

  <input
    [formControl]="searchControl"
    class="ml-3 bg-gray-100 w-full focus:outline-none text-gray-900 placeholder-gray-500"
    placeholder="Search"/>

</label>

<div *ngIf="isSearchInputExtended && (isSearchLoading || searchResult.length > 0)"
     @dropdownAnimation
     class="bg-white shadow inset-x-0 transition-all duration-300 absolute top-16 rounded-lg px-4 py-2 overflow-y-auto">

  <div *ngIf="isSearchLoading; else loaded">
    Loading...
  </div>

  <ng-template #loaded>
    <ul>
      <li *ngFor="let result of searchResult">{{result}}</li>
    </ul>
  </ng-template>

</div>
