<div *ngFor="let item of (items$ | async)"
     class="rounded-lg border border-gray-200 bg-white px-4 py-3 mb-4">

  <h3 class="text-xl font-medium mb-2">
    <a [href]="'discussion/' + item.id"
       [routerLink]="['discussion', item.id]"
       class="hover:text-green-700 duration-300 transition-colors">
      {{item.title}}
    </a>
  </h3>


  <p class="mb-2 line-clamp-5">
    {{item.content}}
  </p>

  <div class=" border-gray-200 py-2 text-xs flex gap-6 items-center text-gray-500">

    <a class="inline-flex items-center"
       [href]="'discussion/' + item.id"
       [routerLink]="['discussion', item.id]">
      <ui-icon icon="arrow-up-down"
               sizeClass="h-4 w-4 mr-1">
      </ui-icon>
      <span>
        {{item.score}} score
      </span>
    </a>


    <a class="inline-flex items-center"
       [href]="'discussion/' + item.id"
       [routerLink]="['discussion', item.id]">
      <ui-icon icon="discuss"
               sizeClass="h-4 w-4 mr-1">
      </ui-icon>
      <span>{{item.commentsCount}} comments</span>
    </a>

    <span class="inline-flex items-center ml-auto">
      <ui-icon icon="user"
               sizeClass="h-4 w-4 mr-1.5">
      </ui-icon>
      <span>
        Posted by
        <a class="font-medium"
           href="">{{item.authorName}}</a>
        {{item.createdAt | timeago}}
      </span>
    </span>

  </div>
</div>

<ng-container *ngIf="isLoading">
  <div *ngFor="let item of [1,2,3]"
       class="rounded-lg border border-gray-200 bg-white px-4 py-2 mb-4">

  </div>
</ng-container>
