<div class="group">
  <label class="block font-medium text-gray-600 group-focus-within:text-green-600 mb-1">
    {{label}}
  </label>

  <input [formControl]="control"
         [name]="name"
         [placeholder]="placeholder"
         [type]="type"
         class="border border-gray-300 focus:outline-green-600 form-input block w-full px-4 py-2 rounded-lg bg-white">
</div>

<div *ngIf="!disableErrorMessages && control.touched && !control.valid"
     class="text-xs mt-1.5 px-2 text-red-600 font-medium">
  <p *ngFor="let error of control.errors | keyvalue">
    {{ getErrorMessage(error.key, error.value) }}
  </p>
</div>
