<label [class.shadow]="isSearchInputExtended"
       class="flex items-center py-2 pl-2 pr-4 rounded-lg bg-gray-100 focus-within:shadow focus-within:focus-visible:ring-2 focus-within:focus-visible:ring-black relative">

  <ui-icon class="text-gray-500"
           icon="search">
  </ui-icon>

  <input
    [formControl]="searchControl"
    class="ml-3 bg-gray-100 w-full focus:outline-none text-gray-900 placeholder-gray-500"
    placeholder="Search"/>

</label>

<div *ngIf="isSearchInputExtended && (isSearchLoading || searchResult.length > 0)"
     @dropdownAnimation
     class="bg-white shadow inset-x-0 transition-all duration-300 absolute top-16 p-2 rounded-lg overflow-y-auto ">

  <ui-loading class="h-8 text-gray-500"
              *ngIf="isSearchLoading; else loaded">
  </ui-loading>

  <ng-template #loaded>
    <ul class="max-w-full">
      <li *ngFor="let result of searchResult">
        <a class="flex items-center rounded-lg px-4 py-2 hover:bg-gray-50 duration-300 transition-colors"
           href="">
          <span class="mr-2 truncate">{{result}}</span>
          <ui-icon icon="arrow-right" class="ml-auto text-gray-500"></ui-icon>
        </a>
      </li>
      <li>
        <a class="block rounded-lg text-green-600 px-4 py-2 hover:bg-gray-50 duration-300 transition-colors"
           href="">
          See more...
        </a>
      </li>

    </ul>
  </ng-template>

</div>
