<div class="group">
  <label class="block font-medium text-gray-600 group-focus-within:text-green-600 mb-1">
    {{label}}
  </label>


  <textarea
    [name]="name"
    [formControl]="control"
    class="border focus:outline-green-600 focus:border-green-600 block w-full px-4 py-2 border-gray-300 rounded-lg resize-none"
    [placeholder]="placeholder"
    rows="10">
  </textarea>
</div>

<div class="text-xs mt-1.5 px-2 text-red-600 font-medium"
     *ngIf="control.touched && !control.valid">
  <p *ngFor="let error of control.errors | keyvalue">
    {{ getErrorMessage(error.key, error.value) }}
  </p>
</div>
