@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(''),
    url('/assets/fonts/josefin-sans-v20-latin-ext-300.woff2') format('woff2'),
    url('/assets/fonts/josefin-sans-v20-latin-ext-300.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
    url('/assets/fonts/josefin-sans-v20-latin-ext-regular.woff2') format('woff2'),
    url('/assets/fonts/josefin-sans-v20-latin-ext-regular.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local(''),
    url('/assets/fonts/josefin-sans-v20-latin-ext-500.woff2') format('woff2'),
    url('/assets/fonts/josefin-sans-v20-latin-ext-500.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(''),
    url('/assets/fonts/josefin-sans-v20-latin-ext-600.woff2') format('woff2'),
    url('/assets/fonts/josefin-sans-v20-latin-ext-600.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
    url('/assets/fonts/josefin-sans-v20-latin-ext-700.woff2') format('woff2'),
    url('/assets/fonts/josefin-sans-v20-latin-ext-700.woff') format('woff');
}


@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
    url('/assets/fonts/pacifico-v17-latin-ext-regular.woff2') format('woff2'),
    url('/assets/fonts/pacifico-v17-latin-ext-regular.woff') format('woff');
}


@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('/assets/fonts/poppins-v15-latin-ext-300.woff2') format('woff2'),
    url('/assets/fonts/poppins-v15-latin-ext-300.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/assets/fonts/poppins-v15-latin-ext-regular.woff2') format('woff2'),
    url('/assets/fonts/poppins-v15-latin-ext-regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('/assets/fonts/poppins-v15-latin-ext-500.woff2') format('woff2'),
    url('/assets/fonts/poppins-v15-latin-ext-500.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('/assets/fonts/poppins-v15-latin-ext-600.woff2') format('woff2'),
    url('/assets/fonts/poppins-v15-latin-ext-600.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('/assets/fonts/poppins-v15-latin-ext-700.woff2') format('woff2'),
    url('/assets/fonts/poppins-v15-latin-ext-700.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: local(''),
    url('/assets/fonts/poppins-v15-latin-ext-800.woff2') format('woff2'),
    url('/assets/fonts/poppins-v15-latin-ext-800.woff') format('woff');
}
